.galleryContainer {
  padding: 2rem;
  
}
.deleteBtn {
  padding-top: .5rem;
  padding-bottom: .5rem;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s ease;
  
}

.deleteBtn img {
    width: 2.5rem;
    
}
.deleteBtn p {
  color: rgba(128, 128, 128, 0.815);
  margin-top: 0;
}

.deleteBtn:hover img {
  cursor: pointer;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(450px, 90%), 1fr));
  gap: 1rem;
}

.gallery img {
  max-width: 100%;
  max-height: 100%;
  
  cursor: pointer;
}
.selected {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

@media screen and (min-width: 1025px) {
  .gallery img:nth-of-type(1) {
    grid-column: span 2 / 2;
    grid-row: span 2 / 2;
  }
}
